.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000000;
    transition: all 0.5s;
    opacity: 1;
}
.preloader-remove {
    opacity: 0;
    z-index: -10;
}
.preload_prosents{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 42px;
  color: white;
}
path{
  stroke-dashoffset: 1766;
  stroke-dasharray: 1766;
  animation: draw 6s;
}
@keyframes draw{
  100%{
    stroke-dashoffset: 0;
  }
}