*,
*;;before
*;;after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  list-style: none;
}
input {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
body {
  margin: 0;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000000;
}
.wrapped {
  min-height: 100%;
}
._container_h{
  width: 95%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

._container{
  max-width: 1235px;
}
/*=========================================================================================*/
.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    transition: all 0.5s;
    opacity: 1;
}
.preloader-remove {
    opacity: 0;
    z-index: -10;
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(125, 125, 125);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(125, 125, 125);
  }
}

.svg-elem-1 {
animation: 1.5s linear 0s infinite alternate animate-svg-fill-1;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(125, 125, 125);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(125, 125, 125);
  }
}

.svg-elem-2 {
animation: 1.5s linear 0s infinite alternate animate-svg-fill-2;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(125, 125, 125);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(125, 125, 125);
  }
}

.svg-elem-3 {
        animation: 1.5s linear 0s infinite alternate animate-svg-fill-3;
}
