body, html{
	margin: 0px;
	padding: 0px;
	background: radial-gradient(51.85% 51.85% at 49.04% 48.15%, #292929 0%, #0F0F0F 100%);
}
.main_quest_sect{
	width: 1920px;
	height: 1080px;
}
.main_quest_block_1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 82.03%;
	margin:0px auto;
	padding-top: 9.31%;
}
.text_1{
	font-family: 'Mulish', sans-serif;
	font-size: 31px;
	font-weight: 300;
	color: #FFFFFF;
	text-align: center;
	width: 68.54%;
}
.sliders{
	max-height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
h4{
	font-family: 'Mulish', sans-serif;
	font-size: 19px;
	font-weight: 300;
	color: #FFFFFF;
}
hr{
	color: #FFFFFF;
	width: 75px;
	height: 1px;
	margin-top: 8px;
}
.line{
	display: flex;
	width: 8%;
	justify-content: space-between;
}